img {
  margin: 10px;
}

a{
  font-weight: 550;
  color: #3f51b5;
  text-decoration:none;
  margin-top: 5px;
}
.mat-card-title {
  margin-top: 50px;
}
.mat-list-item {
  margin:20px 0px;
}

div {
  float:right
}
